h2{
    margin-top: 20px;
    text-align: center;
}
body {
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.container {
    position: relative;
    max-width: 500px;
    width: 80%;
    background: #ADD8E6;
    padding: 25px;
}
.one{
    display: flex;
    column-gap: 50px;
}
#btn{
    position: relative;
    text-align: center;
}